@import '~antd/dist/antd.css';

body,
html {
  height: 100%;
  width: 100%;
}
#root {
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
}

.App {
  text-align: center;
  flex: 1;
}
.App .ant-spin-nested-loading {
  height: 100%;
}
.App .ant-spin-nested-loading .ant-spin-container {
  height: 100%;
}
.ant-spin-nested-loading > div > .ant-spin {
  max-height: none !important;
}
